@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

#app{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}
#app > div{
    text-align: center;
    border: 1px solid #d3d3d3;
}
#app img{
    margin: auto;
    width: 100px;
    height: 100px;
}